<section class='headline-section'>
  <%= render partial: '/shared/home', locals: { articles: @articles } %>
  <span class="btn-container"><%= link_to 'Analytics', analytics_path, class: 'btn--link' %></span>
</section>

