<section class="article">
    <div class="article__card">
        <h1 class="article__card--heading"><%= @article.title %> </h1>
        <p class="article__card--paragraph"> <%= @article.body  %> </p>
    </div>
</section>
