@import url('search-input.css');
.headline-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.queries {
    position: absolute;
    width: 100%;
    transform: translateY(-6.5rem);
    padding-top: 6.5rem;
    border-radius: 2.5rem;
    z-index: -11;
    box-shadow: 0.8rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.queries__list {
    text-align: left;
}

.queries__list--item {
    padding: .5rem 0;
    cursor: pointer;
}

.queries__list--item:hover {
    background-color: #e0e0e0;
}

.link {
    color: black;
    text-decoration: none;
}

.right {
    right: 5%;
}
